.json {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &:before {
    content: "{";
    white-space: pre;
  }
  &:after {
    content: "}";
    white-space: pre;
  }
}

.block {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 1300px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: hidden;
}

.key:after {
  content: ": ";
}

.attr,
.list-attr {
  word-break: break-all;
  overflow-wrap: anywhere;
  
  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }
}

.array-key:after {
  content: ": [";
}

.array-attr {
  margin-left: 1.5rem;
  word-break: break-all;
  overflow-wrap: anywhere;

  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }
}

.array:after {
  content: "],";
}

.list-key:after {
  content: ": {";
}

.list:after {
  content: "},";
}

.list-subkey {
  margin-left: 1.5rem;
  word-break: break-all;
  overflow-wrap: anywhere;

  &:after {
    content: ": ";
  }
}
