.json {
  white-space: nowrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  &:before {
    content: "{";
  }
  &:after {
    content: "}";
  }
}

.block {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 1300px;
  box-sizing: border-box;
}

.key:after {
  content: ": ";
}

.attr,
.list-attr {
  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }
}

.array-key:after {
  content: ": [";
}

.array-attr {
  margin-left: 1.5rem;

  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }
}

.array:after {
  content: "],";
}

.list-key:after {
  content: ": {";
}

.list:after {
  content: "},";
}

.list-subkey {
  margin-left: 1.5rem;

  &:after {
    content: ": ";
  }
}
